.contact {
  position: absolute;
  bottom: var(--space-7);
  right: var(--space-7);
  font-size: var(--text-sm);
  color: var(--gray-7);
  display: flex;
  gap: var(--space-4);
  flex-direction: column;
  align-items: flex-end;
}

.contactLink {
  color: var(--gray-7);
  text-decoration: none;
  transition: all 0.2s;
  font-weight: var(--font-weight-regular);
  position: relative;
}

.contactLink::after {
  content: '';
  position: absolute;
  bottom: -0.125rem;
  left: 0;
  width: 0;
  height: 0.0625rem;
  background: var(--gray-11);
  transition: width 0.2s ease;
}

.contactLink:hover::after {
  width: 100%;
}

.contactLink:hover {
  color: var(--gray-11);
}

@media (max-width: 48em) {
  .contact {
    bottom: var(--space-5);
    right: var(--space-5);
    font-size: var(--text-xs);
    gap: var(--space-3);
  }
}
