[Unit]
Description=Gaspar API
After=network.target

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi/actions-runner/_work/zeal/zeal/apps/gaspar
ExecStart=/usr/bin/node dist/main.js
EnvironmentFile=/etc/gaspar/env
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
